<section class="content">
	<div class="container-fluid">
		<div class="card card-info card-outline">
			<div class="card-header">
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 d-md-flex justify-content-md-end">
						<button class="btn btn-default float-right" (click)="abrirModal()">
							<i class="fa fa-plus"></i>
							Agregar
						</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<dx-data-grid
							[dataSource]="listaCargos"
							keyExpr="id"
							[showBorders]="true"
							(onRowDblClick)="seleccionarCargo($event.data)">
							<dxo-filter-row
								[visible]="true"
								[applyFilter]="true"
							></dxo-filter-row>
							<dxo-search-panel [visible]="true"></dxo-search-panel>
							<dxo-paging [pageSize]="10"> </dxo-paging>
							<dxo-header-filter [visible]="true"></dxo-header-filter>
							<dxo-export [enabled]="true" fileName="Lista de cargos"></dxo-export>
							<dxo-selection mode="single"></dxo-selection>
							<dxi-column
								dataField="id"
								caption="Id"
								dataType="string"
								alignment="center"
							></dxi-column>
							<dxi-column
								dataField="nombre"
								caption="Nombre"
								dataType="string"
								alignment="center"
							></dxi-column>
							<dxi-column
								dataField="estado"
								caption="Estado"
								cellTemplate="estadoCargos"
								dataType="string"
								alignment="center"
							></dxi-column>
							<dxi-column
								caption="Acción"
								cellTemplate="accion"
								alignment="center"
							></dxi-column>
							<div *dxTemplate="let data of 'estadoCargos'">
								<span *ngIf="data.value == 0">
									<i class="fas fa-circle nav-icon text-danger"></i>
								</span>
								<span *ngIf="data.value == 1">
									<i class="fas fa-circle nav-icon text-success"></i>
								</span>
							</div>
							<div *dxTemplate="let data of 'accion'">
								<a class="cursor-pointer" (click)="eliminar(data.data)">
									<i class="fa fa-trash"></i>
									Eliminar
								</a>
							</div>
						</dx-data-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-captura-cargo 
	[(visible)]="abrirModalCargos" 
	[accion]="accion" 
	[datosCargo]="modeloCargo" 
	(actualizar)="actualizarGrid($event)">
</app-captura-cargo>

